body {
  background-color: #F2E4D2;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: center;
  color: #9B6C41;
}

a {
  color: #9B6C41;
}

p {
  text-align: center;
}

footer {
  text-align: center;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
